@using MyResource = Laboratorio.Messages;
@{
    ViewBag.Title = "Index";
    bool odd = true;
}
@if (Request.IsAuthenticated)
{

    //Este es el modulo de instrumentos dados de baja
    <script type="text/javascript">
        $(document).ready(function () {
            $('.date').datepicker({ dateFormat: "dd/mm/yy" });
        });
    </script>
    <fieldset>
        <legend>Instrumentos deshabilitados</legend>
        <table class="center">
            <tr class="TableHeader">
                <th>
                    C&oacute;digo
                </th>


                <th>
                    Tipo
                </th>


                <th>
                    Fecha de calibraci&oacute;n
                </th>


                <th>
                    Fecha de expiraci&oacute;n
                </th>

                <th>

                </th>
                @*<th>

                </th>*@

            </tr>
            @if (ViewBag.NoRecords)
            {
                <tr class="noRecords">
                    <td colspan="8" class="gridRowOdd">
                        @MyResource.NoRecords
                </td>
            </tr>
        }
        else
        {
            foreach (var tm in Model)
            {
                <tr class="@(odd ? "gridRowOdd" : "gridRowEven")">
                    <td class="centeredTD">
                        @tm.Code
                    </td>


                    <td class="centeredTD">
                        @tm.Type
                    </td>


                    <td class="centeredTD">
                        @tm.CalibrationDate.ToString("dd/MM/yy")
                    </td>


                    <td class="centeredTD">
                        @tm.ExpirationDate.ToString("dd/MM/yy")
                    </td>




                    <td>

                        <a  href="@Url.Action("ActivateTool", "DischargedTools", new { code = tm.Code })">
                            <img style="height:22px;width:22px" alt="@MyResource.DeleteImageAlt" src="@Url.Content("~/Content/images/Hopstarter-Soft-Scraps-Button-Add.48.png")" />
                        </a>

                    </td>

                    @*<td>

                        <a href="@Url.Action("DeleteToolFromIndex", "DischargedTools", new { code = tm.Code })">
                            <img alt="@MyResource.DeleteImageAlt" src="@Url.Content("~/Content/images/cancel.png")" />
                        </a>

                    </td>*@

                </tr>

                odd = odd ? false : true;
            }
        }
        </table>
    </fieldset>
    
}
else
{
    // @Html.Partial("_LogInFormPartial")
    <h2>No se puede loguear</h2>
}