@using MyResource = Laboratorio.Messages;
@{
    ViewBag.Title = "Index";
    bool odd = true;
}
@if (Request.IsAuthenticated)
{
    <fieldset>
        <legend>@MyResource.ToolAssignation</legend>
        @using (Html.BeginForm("AssignMultipleTools", "Assignment", FormMethod.Post))
        {
            <label style="font-size:11pt; margin-bottom:5px" for="ToolKit">
                Kit de Instrumentos:
            </label>
            <div style="font-size:11pt">

                @Html.DropDownList("ToolKit", ViewBag.toolkits as List<SelectListItem>, new { @class = "customFont" })
            </div>
            <input class="csbutton" type="submit" name ="submit" value="Asignar"/>
        }
        @using (Html.BeginForm("Index", "Assignment", FormMethod.Post))
        {
            <fieldset>
                <legend>Instrumentos asignados</legend>
                <label style="font-size:11pt; margin-bottom:5px" for="MachineCode" class="editor-label">
                    Máquina
                </label>
                <div>

                    @Html.DropDownList("MachineCode", ViewBag.Sli as List<SelectListItem>, new { @class = "customFont", onchange = "this.form.submit()" })
                </div>
                <div class="ui-corner-left">
                    <br />

                </div>
                <table class="center">
                    <tr class="TableHeader">
                        <th>
                            C&oacute;digo
                        </th>
                        <th>
                            Tipo
                        </th>
                        <th>
                            Fecha de calibraci&oacute;n
                        </th>
                        <th>
                            Fecha de expiraci&oacute;n
                        </th>
                        <th>
                            Uso
                        </th>
                        <th>
                            Estado
                        </th>
                        <th>
                        </th>
                        <th>
                        </th>
                        @if (ViewBag.MachineCode == "EMBAL1" || ViewBag.MachineCode == "EMBAL2")
                        {
                            if (ViewBag.MachineCode == "EMBAL1")
                            {
                                <th>Compartir con Pintado Tina B</th>
                            }
                            else
                            {
                                <th>Compartir con Pintado Tina A</th>
                            }
                        }
                    </tr>
                    @if (ViewBag.NoRecords)
                    {
                        <tr class="noRecords">
                            <td colspan="5" class="gridRowOdd">
                                @MyResource.NoRecords
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var tm in ViewBag.MachineTools)
                    {
                <tr class="@(odd ? "gridRowOdd" : "gridRowEven")">
                    <td class="centeredTD">
                        @tm.Code
                    </td>
                    <td class="centeredTD">
                        @tm.Type
                    </td>
                    <td class="centeredTD">
                        @tm.CalibrationDate.ToString("dd/MM/yy")
                    </td>
                    <td class="centeredTD">
                        @tm.ExpirationDate.ToString("dd/MM/yy")
                    </td>
                    @if (tm.Measure)
                    {
                        <td class="centeredTD">
                            Medici&oacute;n
                        </td>
                    }
                    else
                    {
                        <td class="centeredTD">
                            Control
                        </td>

                    }
                    @switch ((string)tm.ExpirationFlag)
                    {
                        case "0":
                            <td class="centeredTD Danger">
                                Vencido
                            </td>
                            break;
                        case "1":
                            <td class="centeredTD Warning">
                                Próximo a vencer
                            </td>
                            break;
                        case "2":
                            <td class="centeredTD ">
                                En Tiempo
                            </td>
                            break;

                    }
                    <td>
                        <a  style="height:22px;width:22px" href="@Url.Action("RemoveTool", "Assignment", new { toolCode = tm.Code, machineCode = ViewBag.MachineCode })">
                            <img style="height:22px;width:22px" alt="@MyResource.DownArrowImageAlt" src="@Url.Content("~/Content/images/Hopstarter-Soft-Scraps-Button-Download.48.png")" />
                        </a>
                    </td>
                    @if (ViewBag.MachineCode == "EMBAL1" || ViewBag.MachineCode == "EMBAL2")
                    {
                        if (string.IsNullOrEmpty(tm.Shared))
                        {
                            <td class="centeredTD">
                                No Compartido
                                <a href="@Url.Action("ShareTool", "Assignment", new { toolCode = tm.Code, machineCode = ViewBag.MachineCode, meassure = tm.Measure })">
                                    <img alt="@MyResource.RightArrow" src="@Url.Content("~/Content/images/rightarrow2.png")" />
                                </a>
                            </td>
                        }
                        else
                        {
                            <td class="centeredTD">
                                Compartido
                                <a href="@Url.Action("ShareTool", "Assignment", new { toolCode = tm.Code, machineCode = ViewBag.MachineCode, meassure = tm.Measure })">
                                    <img alt="@MyResource.RightArrow" src="@Url.Content("~/Content/images/rightarrow2.png")" />
                                </a>
                            </td>
                        }
                    }
                    <td>

                        <a style="height:22px;width:22px" href="@Url.Action("UpdateToolPage", "Assignment", new { code = tm.Code })">
                            <img  style="height:22px;width:22px" alt="@MyResource.UpdateImageAlt" src="@Url.Content("~/Content/images/Hopstarter-Soft-Scraps-Button-Refresh.48.png")" />
                        </a>

                    </td>

                </tr>

                        odd = odd ? false : true;
                    }
                }
                </table>
                @if (ViewBag.ValidationMessage != null)
                {
                    <label class="validationError">@ViewBag.ValidationMessage</label>
                }
            </fieldset>
            <br />
        }
        <fieldset>
            <legend>Instrumentos disponibles</legend>
            <table class="center">
                <tr class="TableHeader">
                    <th>
                        C&oacute;digo
                    </th>
                    <th>
                        Tipo
                    </th>
                    <th>
                        Fecha de calibraci&oacute;n
                    </th>
                    <th>
                        Fecha de expiraci&oacute;n
                    </th>
                    <th>
                        Estado
                    </th>
                    <th>
                        Medición
                    </th>
                    <th>
                        Control
                    </th>
                    <th>

                    </th>
                </tr>
                @if (ViewBag.NoRecords2)
                {
                    <tr class="noRecords">
                        <td colspan="5" class="gridRowOdd">
                            @MyResource.NoRecords
                    </td>
                </tr>
            }
            else
            {
                foreach (var tm in ViewBag.AvailableTools)
                {
            <tr class="@(odd ? "gridRowOdd" : "gridRowEven")">
                <td  class="centeredTD">
                    @tm.Code
                </td>
                <td class="centeredTD"> 
                    @tm.Type
                </td>
                <td class="centeredTD">
                    @tm.CalibrationDate.ToString("dd/MM/yy")
                </td>
                <td class="centeredTD">
                    @tm.ExpirationDate.ToString("dd/MM/yy")
                </td>
                @switch ((string)tm.ExpirationFlag)
                {
                    case "0":
                        <td class="centeredTD Danger">
                            Vencido
                        </td>
                        break;
                    case "1":
                        <td class="centeredTD Warning">
                            Próximo a vencer
                        </td>
                        break;
                    case "2":
                        <td class="centeredTD ">
                            En Tiempo
                        </td>
                        break;

                }
                <td class="centeredTD">
                    <a style="height:22px;width:22px" href="@Url.Action("AddTool", "Assignment", new { toolCode = tm.Code, machineCode = ViewBag.MachineCode, use = 1 })">
                        <img style="height:22px;width:22px" alt="@MyResource.UpArrowMeasureImageAlt" src="@Url.Content("~/Content/images/Hopstarter-Soft-Scraps-Button-Upload.48.png")" />
                    </a>
                </td>
                <td class="centeredTD">
                    <a style="height:22px;width:22px" href="@Url.Action("AddTool", "Assignment", new { toolCode = tm.Code, machineCode = ViewBag.MachineCode, use = 0 })">
                        <img style="height:22px;width:22px" alt="@MyResource.UpArrowControlImageAlt" src="@Url.Content("~/Content/images/Hopstarter-Soft-Scraps-Button-Upload.48.png")" />
                    </a>
                </td>
                <td>

                    <a style="height:22px;width:22px" href="@Url.Action("UpdateToolPage", "Assignment", new { code = tm.Code })">
                        <img style="height:22px;width:22px" alt="@MyResource.UpdateImageAlt" src="@Url.Content("~/Content/images/Hopstarter-Soft-Scraps-Button-Refresh.48.png")" />
                    </a>

                </td>
            </tr>

                    odd = odd ? false : true;
                }
            }
            </table>
        </fieldset>
    </fieldset>
}
else
{
    @Html.Partial("_LogInFormPartial")
}